@page
@model WebApplication1.Pages.Customers.Auction.SuccessModel
@{
    ViewData["Title"] = "Success";
}

<h2>Success</h2>
<p>Your auction request has been successfully created.</p>
<a asp-page="/Customers/CreateRequestAuction">Create Another Auction Request</a>